.app {
  height: 100vh;

  background-repeat: repeat;
  animation: bgMove 60s linear infinite;

  color: #eeeeee;
}

@keyframes bgMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -754px 0;
  }
}